<!DOCTYPE html>
<html>
    <body>
        <nav>
            <button button mat-raised-button color="primary" [routerLink]="'/shopping-cart'" routerLinkActive="active" ariaCurrentWhenActive="page" >VIEW SHOPPING CART</button>
        </nav>
        <router-outlet></router-outlet>

        <br>
        <nav>
            <button button mat-raised-button color="primary" [routerLink]="'/add-new-product'" routerLinkActive="active" ariaCurrentWhenActive="page" >ADD NEW PRODUCT</button>
        </nav>

        <br>

        <h1><strong>Available products:</strong> </h1>
        <ul *ngIf="products$ | async as products$ else noData">
            <div *ngFor="let product of products$">
                <div> <strong>Name: </strong>  {{product.name}}</div>
                <nav>
                    <button button mat-raised-button color="primary" [routerLink]="'/product-details/'+product.id" routerLinkActive="active" ariaCurrentWhenActive="page" >Details</button>
                </nav>
                <br>
            </div> 
        </ul>
        <ng-template #noData>No Data Available</ng-template>
    </body>
</html>