h3 {
    font-size: 1.5em;
}

p {
    letter-spacing: 0em;
    word-spacing: 0.02em;
    line-height: 1.5;
}
  
table {
    width: 30%;    
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
}